*~
/i3statusrc
/xmobarrc
/sloppy/sloppy
/abe-desktop/*-stamp
/abe-desktop-*
/abe-desktop_*
/abe-desktop/debian/.debhelper/
/abe-desktop/debian/*.debhelper.log
/abe-desktop/debian/*.substvars
/abe-desktop/debian/abe-desktop*/
/abe-desktop/debian/files
/abe-*_*.deb
/fake-*_*.deb
/colord_*_all.deb
/abe-metapackages*
/abe-fakepackages*
/kiva-*.deb
/fake-*.deb
