Source: abe-desktop
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Section: metapackages
Priority: extra
Homepage: https://github.com/xtaran/ratpoison-desktop#readme
Vcs-Git: git://github.com/xtaran/ratpoison-desktop.git
Vcs-Browser: https://github.com/xtaran/ratpoison-desktop
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)

Package: abe-desktop-common
Depends: busybox-syslogd | system-log-daemon,
         colordiff,
         conkeror | www-browser,
         dnsutils | wget,
         emacs | emacsen,
         git,
         gxmessage | x11-utils,
         i3status,
         libfile-slurp-perl,
         libfile-temp-perl,
         lsb-release,
         sxiv | xv | feh | xzgv,
         x11-xserver-utils,
         xfonts-terminus,
         xmobar,
         xscreensaver | xtrlock | xlockmore | xlockmore-gl,
         xterm | rxvt-unicode,
         yeahconsole,
         zile,
         ${misc:Depends}
Recommends: abe-commandline,
            abe-emacs,
            autocutsel,
            dnsutils,
            equivs,
            fonts-droid | ttf-droid,
            fonts-mplus | ttf-mplus,
            gitk,
            hsetroot,
            i3status (>= 2.2),
            inotail,
            keynav (>= 0.20101014.3067),
            openssh-client | dropbear,
            rxvt-unicode,
            unclutter,
            x11-xkb-utils,
            xdotool,
            xrootconsole | root-tail,
            xscreensaver,
            xserver-xorg-input-synaptics,
            xterm,
            xtrlock,
            zsh
Suggests: abe-gnome,
          audacious,
          audacious-plugins,
          ccze | loco | lwatch | colortail,
          nvi,
          openssh-server | dropbear,
          screen | tmux,
          transset-df | xcompmgr
Architecture: all
Description: Common packages for all of Axel's desktop setups
 This metapackage depends on packages common for all of Axel's desktop
 setups.

Package: abe-desktop-ratpoison
Depends: abe-desktop-common,
         nawm | xdotool,
         ratmenu (>= 2.3.20),
         ratpoison,
         ${misc:Depends}
Recommends: redshift,
            suckless-tools | dwm-tools (>= 31-1),
            wicd-curses | network-manager (>= 0.8.0.999-1) | cnetworkmanager,
            xclip
Suggests: transset-df | xcompmgr
Architecture: all
Description: Packages necessary for Axel's ratpoison desktop
 This metapackage depends on packages common for Axel's ratpoison
 based desktop setup.

Package: abe-desktop-awesome
Depends: abe-desktop-common,
         awesome (>= 3),
         awesome-extra,
         hsetroot,
         xdotool,
         ${misc:Depends}
Recommends: fdpowermon,
            gtk-redshift,
            smart-notifier,
            wicd-gtk | network-manager-gnome
Suggests: qasmixer | volumeicon-alsa,
          radiotray,
          shutter,
          update-notifier,
          yarssr
Architecture: all
Description: Packages necessary for Axel's awesome desktop
 This metapackage depends on packages common for Axel's awesome based
 desktop setup.

Package: abe-desktop
Depends: abe-desktop-awesome,
         abe-desktop-ratpoison,
         ${misc:Depends}
Recommends: flwm,
            i3-wm,
            lxsession,
            spectrwm | scrotwm,
            stumpwm
Suggests: clfswm,
          fvwm,
          herbstluftwm,
          notion,
          tritium
Architecture: all
Description: Packages helpful for Axel's desktop setup
 This metapackage depends on packages common for Axel's desktop
 setups.

Package: abe-commandline
Depends: autossh,
         bash-completion,
         bzip2,
         ccal,
         ccze | loco,
         chase,
         colordiff,
         dwdiff | wdiff,
         git,
         htop,
         inotail,
         libwww-perl,
         links2 | links,
         lynx-cur | lynx,
         mmv,
         moreutils,
         mosh,
         mtr-tiny,
         mutt,
         ncdu,
         netcat-traditional | netcat6 | netcat-openbsd | netcat,
         renameutils,
         rlfe | rlwrap | cle,
         rsync,
         screen,
         since,
         slay,
         unp | mtools | atool,
         xz-utils,
         zile,
         zsh,
         ${misc:Depends}
Recommends: debian-goodies,
            dlocate,
            extundelete,
            finger,
            fping,
            gnu-fdisk,
            hardlink | duff | fdupes | rdfind,
            lsof | fuser,
            ncftp,
            nvi,
            perl-doc,
            pmount,
            prips,
            sshfs,
            sshuttle,
            strace,
            swaks,
            tsocks,
            unzip,
            whois,
            zutils
Suggests: 2ping,
          abe-emacs,
          acpitail,
          aha,
          arping | iputils-arping,
          buthead,
          cadaver,
          clive | cclive | youtube-dl | get-flash-videos,
          convmv,
          detox | unaccent,
          dfc,
          eatmydata,
          fatsort,
          git-annex,
          grepcidr,
          grepmail | mboxgrep,
          hnb,
          httping,
          ipcalc,
          ipv6calc,
          irssi,
          lha,
          lrzip,
          ltrace,
          lzip,
          lzop,
          mc,
          mpg123 | mpg321,
          mplayer,
          music123 | gst123,
          ncdt,
          nethogs,
          netmask,
          opus-tools,
          p7zip,
          pbzip2,
          pigz,
          plzip,
          pmtools,
          pssh,
          pxz,
          rsstail,
          rzip,
          sdate,
          similarity-tester,
          sipcalc,
          slice,
          sslscan,
          strigi-utils,
          tardiff,
          testdisk,
          translate,
          units,
          unrar | unrar-nonfree | rar,
          vorbis-tools,
          wikipedia2text,
          xml-twig-tools,
          xmldiff,
          zip,
          zoo
Architecture: all
Description: Metapackage of commandline tools Axel usually installs
 This metapackage depends on packages Axel's usually installs in all
 his setups.

Package: abe-emacs
Depends: crypt++el,
         debian-el,
         develock-el,
         emacs | emacsen,
         emacs-goodies-el,
         html-helper-mode,
         mmm-mode,
         ${misc:Depends}
Recommends: devscripts-el,
            dpkg-dev-el,
            js2-mode
Suggests: oneliner-el,
          post-el,
          python-mode,
          quilt-el,
          twittering-mode,
          x-face-el,
          yaml-mode
Architecture: all
Description: Common Emacs installation on Axel's systems
 This metapackage depends on packages Axel's usually installs where he
 wants Emacs to be usable.

Package: abe-gnome
Depends: baobab,
         gucharmap,
         mssh,
         ${misc:Depends}
Recommends: meld
Suggests: abe-office,
          gparted,
          liferea,
          ssh-contact-client
Architecture: all
Description: Common GNOME applications on Axel's desktops
 This metapackage depends on packages Axel's oftens installs when
 having GNOME libraries installed is not an issue.

Package: abe-office
Depends: catdoc | antiword | wv,
         libreoffice-calc    | openoffice.org-calc | gnumeric,
         libreoffice-impress | openoffice.org-impress,
         libreoffice-writer  | openoffice.org-writer,
         libpaper-utils,
         ${misc:Depends}
Recommends: libreoffice-gnome | libreoffice-gtk | openoffice.org-gnome | openoffice.org-gtk,
            libreoffice-math                    | openoffice.org-math
Suggests: dia-gnome | dia | xfig,
          gimp,
          inkscape | scribus,
          libreoffice | openoffice.org,
          mypaint,
          xlhtml
Architecture: all
Description: Common office applications on Axel's desktops
 This metapackage depends on packages Axel's usually needs when he
 want's basic office functionality.
