Source: abe-desktop
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Section: metapackages
Priority: extra
Homepage: https://github.com/xtaran/ratpoison-desktop#readme
Vcs-Git: git://github.com/xtaran/ratpoison-desktop.git
Vcs-Browser: https://github.com/xtaran/ratpoison-desktop
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)

Package: abe-desktop-common
Depends: abe-emacs,
         busybox-syslogd | system-log-daemon,
         colordiff,
         conkeror | www-browser,
         dnsutils | wget,
         git,
         gxmessage | x11-utils,
         i3status,
         libfile-slurp-perl,
         libfile-temp-perl,
         libnotify-bin,
         lsb-release,
         sxiv | xv | feh | xzgv,
         x11-xserver-utils,
         xfonts-terminus,
         xmobar,
         xscreensaver | xtrlock | xlockmore | xlockmore-gl,
         xterm | rxvt-unicode-256color | rxvt-unicode,
         yeahconsole,
         zile,
         ${misc:Depends}
Recommends: abe-commandline,
            autocutsel,
            dnsutils,
            equivs,
            fonts-droid | ttf-droid,
            fonts-mplus | ttf-mplus,
            gitk,
            gnome-keyring,
            gnome-settings-daemon,
            hsetroot,
            i3status (>= 2.2),
            inotail,
            keynav (>= 0.20101014.3067),
            openssh-client | dropbear,
            rxvt-unicode-256color | rxvt-unicode,
            sxiv,
            unclutter,
            x11-xkb-utils,
            xdotool,
            xfce4-volumed,
            xrootconsole | root-tail,
            xscreensaver,
            xserver-xorg-input-synaptics,
            xterm,
            xtrlock,
            zsh
Suggests: abe-gnome,
          amora-cli | amora-applet,
          audacious,
          audacious-plugins,
          ccze | loco | lwatch | colortail,
          ncurses-term,
          nvi,
          openssh-server | dropbear,
          screen | tmux
Architecture: all
Description: Common packages for all of Axel's desktop setups
 This metapackage depends on packages common for all of Axel's desktop
 setups.

Package: abe-desktop-ratpoison
Depends: abe-desktop-common,
         nawm | xdotool,
         ratmenu (>= 2.3.20),
         ratpoison,
         ${misc:Depends}
Recommends: dunst | notification-daemon,
            redshift,
            suckless-tools | dwm-tools (>= 31-1),
            wicd-curses | network-manager (>= 0.8.0.999-1) | cnetworkmanager,
            xclip
Architecture: all
Description: Packages necessary for Axel's ratpoison desktop
 This metapackage depends on packages common for Axel's ratpoison
 based desktop setup.

Package: abe-desktop-awesome
Depends: abe-desktop-common,
         awesome (>= 3),
         awesome-extra,
         hsetroot,
         xdotool,
         ${misc:Depends}
Recommends: fdpowermon,
            gtk-redshift,
            smart-notifier,
            wicd-gtk | network-manager-gnome
Suggests: amora-applet,
          clipit | parcellite,
          qasmixer | volumeicon-alsa | volti,
          radiotray,
          shutter,
          update-notifier,
          yarssr
Architecture: all
Description: Packages necessary for Axel's awesome desktop
 This metapackage depends on packages common for Axel's awesome based
 desktop setup.

Package: abe-desktop
Depends: abe-console,
         abe-desktop-awesome,
         abe-desktop-ratpoison,
         wdm | xdm | x-display-manager,
         ${misc:Depends}
Recommends: abe-partioning,
            flwm,
            i3-wm,
            lxsession,
            spectrwm | scrotwm,
            stumpwm
Suggests: clfswm,
          fvwm,
          herbstluftwm,
          notion,
          tritium
Architecture: all
Description: Packages helpful for Axel's desktop setup
 This metapackage depends on packages common for Axel's desktop
 setups.

Package: abe-commandline
Depends: aptitude,
         autossh,
         bash-completion,
         bc,
         bzip2,
         ccal,
         ccze | loco,
         chase | realpath,
         colordiff,
         debsums,
         dwdiff | wdiff,
         git,
         htop,
         libwww-perl,
         links2 | links,
         lynx-cur | lynx,
         mmv,
         moreutils,
         mosh,
         mtr-tiny,
         mutt,
         ncdu,
         ncurses-term,
         netcat-traditional | netcat6 | netcat-openbsd | netcat,
         popularity-contest,
         procps,
         renameutils,
         rlfe | rlwrap | cle,
         rsync,
         screen,
         since,
         sipcalc | ipcalc | netmask,
         slay,
         tree,
         unp | mtools | atool | dtrx,
         xz-utils,
         zile,
         zsh,
         ${misc:Depends}
Recommends: apt-show-versions,
            atool | tardiff,
            bar | cpipe | pipemeter,
            clive | cclive | youtube-dl | get-flash-videos,
            curses-apt-key,
            debian-goodies,
            dlocate,
            dwdiff,
            fail2ban | busybox-syslogd,
            figlet | toilet,
            finger,
            fping,
            git-annex,
            gopher,
            grepcidr,
            grepmail | mboxgrep,
            hardlink | duff | fdupes | rdfind,
            inotail,
            lsof | psmisc,
            makepasswd | pwgen | gpw | apg,
            mtools,
            ncftp,
            nmap,
            nvi,
            perl-doc,
            pmount,
            prips,
            rotix,
            scrot,
            sshfs,
            strace | ktrace,
            sux,
            swaks,
            tsocks,
            unp,
            unzip,
            uptimed,
            whois,
            zutils
Suggests: 2ping,
          abe-emacs,
          aha,
          apt-file,
          arping | iputils-arping,
          bar,
          buffer | bfr,
          buthead,
          cadaver,
          cclive,
          chase,
          chiark-scripts | polygen,
          clive,
          convmv,
          cpipe,
          dc,
          debconf-utils,
          detox,
          devscripts,
          dfc,
          dhex,
          dtrx,
          duff,
          eatmydata,
          fdupes,
          figlet,
          get-flash-videos,
          gpw,
          grepmail,
          hardlink,
          hnb,
          httping,
          ioping,
          ipcalc,
          ipv6calc,
          irssi,
          irssi-scripts,
          jlha-utils | lhasa | lha,
          lrzip,
          lsof,
          ltrace,
          lzip,
          lzop,
          makepasswd,
          mboxgrep,
          mc,
          members,
          mpg123 | mpg321,
          mplayer | mplayer2,
          multitail,
          multitee,
          music123 | gst123,
          ncdt,
          nethogs,
          netmask,
          opus-tools,
          p7zip,
          pbzip2,
          pflogsumm,
          pigz,
          pipemeter,
          plzip,
          pmtools,
          pssh,
          pwgen,
          pxz,
          rar,
          realpath,
          recode,
          rsstail,
          rzip,
          sdate,
          signing-party,
          similarity-tester,
          sipcalc,
          sl,
          slice,
          sslscan,
          strigi-utils,
          tardiff,
          tcpdump | tshark,
          testdisk,
          tofrodos | dos2unix,
          toilet,
          translate,
          unaccent,
          units,
          unrar | unrar-nonfree,
          vorbis-tools,
          wikipedia2text,
          xml-twig-tools,
          xmldiff,
          youtube-dl,
          zip,
          zoo
Architecture: all
Description: Metapackage of commandline tools Axel usually installs
 This metapackage depends on packages Axel's usually installs in all
 his setups.

Package: abe-emacs
Depends: crypt++el,
         debian-el,
         develock-el,
         emacs | emacsen,
         emacs-goodies-el,
         html-helper-mode,
         mmm-mode,
         ${misc:Depends}
Recommends: devscripts-el,
            dpkg-dev-el,
            js2-mode
Suggests: oneliner-el,
          post-el,
          python-mode,
          quilt-el,
          twittering-mode,
          x-face-el,
          yaml-mode
Architecture: all
Description: Common Emacs installation on Axel's systems
 This metapackage depends on packages Axel's usually installs where he
 wants Emacs to be usable.

Package: abe-gnome
Depends: baobab,
         gucharmap,
         mssh,
         ${misc:Depends}
Recommends: cinnamon,
            gobby | gobby-0.4 | gobby-0.5,
            gpointing-device-settings,
            gui-apt-key,
            meld
Suggests: abe-office,
          gparted,
          liferea,
          ssh-contact-client
Architecture: all
Description: Common GNOME applications on Axel's desktops
 This metapackage depends on packages Axel's oftens installs when
 having GNOME libraries installed is not an issue.

Package: abe-office
Depends: catdoc | antiword | wv,
         libpaper-utils,
         libreoffice-calc    | openoffice.org-calc | gnumeric,
         libreoffice-impress | openoffice.org-impress,
         libreoffice-writer  | openoffice.org-writer,
         ${misc:Depends}
Recommends: dia-gnome | dia | xfig,
            gnumeric,
            libreoffice-gnome | libreoffice-gtk | openoffice.org-gnome | openoffice.org-gtk | libreoffice-gtk3,
            libreoffice-math                    | openoffice.org-math
Suggests: antiword,
          catdoc,
          dia-gnome | dia,
          gimp,
          inkscape | scribus,
          libreoffice                        | openoffice.org,
          libreoffice-calc                   | openoffice.org-calc,
          libreoffice-pdfimport              | openoffice.org-pdfimport,
          libreoffice-presentation-minimizer | openoffice.org-presentation-minimizer,
          libreoffice-presenter-console      | openoffice.org-presenter-console,
          markdown | discount | pandoc | ruby-maruku | ruby-redcarpet | ruby-kramdown | ruby-bluecloth | libtext-markdown-perl | libtext-multimarkdown-perl | python-markdown | multimarkdown,
          mdpress | python-landslide,
          mypaint,
          wv,
          xfig,
          xlhtml
Architecture: all
Description: Common office applications on Axel's desktops
 This metapackage depends on packages Axel's usually needs when he
 want's basic office functionality.

Package: abe-laptop
Depends: abe-commandline,
         abe-console,
         abe-desktop-ratpoison | abe-desktop-awesome,
         busybox-syslogd | system-log-daemon,
         debdelta,
         gpm,
         hardlink,
         isc-dhcp-client | udhcpc | dhcp-client,
         miredo | auto6to4 | aiccu,
         mobile-broadband-provider-info,
         pm-utils,
         postfix | mail-transport-agent,
         ppp,
         sshfs,
         sshuttle,
         usb-modeswitch,
         wicd-curses | wicd-client | network-manager,
         x11-xserver-utils,
         ${misc:Depends}
Recommends: abe-desktop,
            abe-partitioning,
            acpitail,
            amora-cli | amora-applet,
            anacron,
            arandr | lxrandr,
            fdpowermon,
            localepurge,
            mplayer | mplayer2,
            mssh,
            mupdf,
            pkg-mozilla-archive-keyring,
            postfix,
            powertop,
            s5,
            synergy,
            tmpreaper,
            translate,
            unburden-home-dir,
            wide-dhcpv6-client | dibbler-client,
            wireshark,
            xserver-xorg-input-synaptics,
            xul-ext-https-everywhere
Suggests: abe-laptop-ubuntu,
          abe-small-disk,
          arandr,
          auto6to4,
          avahi-autoipd,
          avahi-discover,
          dibbler-client,
          dnsmasq-base,
          gpointing-device-settings,
          iodine,
          iptables,
          kismet,
          lxrandr,
          miredo,
          mumble,
          openvpn | vpnc,
          quicksynergy,
          sm,
          tor,
          torsocks,
          tpb,
          wide-dhcpv6-client,
          wvdial
Conflicts: apmd (>= 0)
Architecture: all
Description: Metapackage for Axel's laptops and netbooks
 This metapackage depends on packages Axel's usually needs on his
 mobile devices.

Package: abe-laptop-ubuntu
Depends: busybox-syslogd | system-log-daemon,
         debconf (>= 1.5.39) | debconf-english,
         ${misc:Depends}
Provides: apmd,
          debconf-i18n,
          rsyslog,
          vim-tiny
Architecture: all
Description: Metapackage to fulfill some hard dependencies of ubuntu-minimal
 This metapackage provides a few packages needed by ubuntu-minimal and
 other Ubuntu metapackages to allow installation of alternatives for
 the same functionality or to rip out useless stuff like apmd.
 .
 It also conflicts with packages, Axel doesn't want to see on any of
 his laptops.

Package: abe-small-disk
Depends: debconf (>= 1.5.39) | debconf-english,
         hardlink,
         localepurge,
         ${misc:Depends}
Recommends: busybox-syslogd,
            unburden-home-dir
Suggests: abe-laptop-ubuntu,
          tmpreaper
Conflicts: debconf-i18n (>= 0)
Replaces: abe-laptop-small-disk
Breaks: abe-laptop-small-disk
Architecture: all
Description: Keeps some disk-wasting packages off the disk
 This metapackage conflicts with packages Axel considers a waste of
 disk space if disk is sacre. It also pulls in packages which help to
 find waste of disk-space.

Package: abe-monitoring
Depends: debsums,
         hobbit-plugins,
         xymon-client | hobbit-client,
         ${misc:Depends}
Recommends: lsof
Suggests: sudo
Architecture: all
Description: Metapackage for computers Axel's wants to be monitored
 This metapackage depends on packages Axel's usually needs on his
 those computers he wants to have monitored.

Package: abe-console
Depends: console-setup,
         kbd,
         linuxlogo,
         ${misc:Depends}
Recommends: gpm | moused
Suggests: abe-partitioning
Architecture: all
Description: Metapackage for computers where Axel works on the console
 This metapackage depends on packages Axel's usually needs where he
 also works on the console and not only remote or under X.

Package: abe-partitioning
Depends: ${misc:Depends}
Recommends: extundelete,
            gdisk,
            gnud-fdisk,
            kpartx,
            parted,
            smartmontools
Suggests: fatsort,
          gpart,
          gparted,
          gptsync,
          grub-imageboot | grml-rescueboot,
          mtools,
          smart-notifier
Architecture: all
Description: Metapackage for real computers where Axel may access USB devices
 This metapackage depends on packages Axel's usually needs to
 partition USB sticks or USB disk, i.e. nearly all his real and local
 computers.
