Source: abe-desktop
Maintainer: Axel Beckert <abe@deuxchevaux.org>
Section: metapackages
Priority: extra
Homepage: https://github.com/xtaran/ratpoison-desktop
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7)

Package: abe-desktop-common
Depends: busybox-syslogd | system-log-daemon,
         colordiff,
         conkeror | www-browser,
         dnsutils | wget,
         emacs | emacsen,
         git,
         gxmessage | x11-utils,
         i3status,
         libfile-slurp-perl,
         libfile-temp-perl,
         lsb-release,
         sxiv | xv | feh | xzgv,
         x11-xserver-utils,
         xfonts-terminus,
         xmobar,
         xscreensaver | xtrlock | xlockmore | xlockmore-gl,
         xterm | rxvt-unicode,
         yeahconsole,
         zile,
         ${misc:Depends}
Recommends: autocutsel,
            debian-el,
            devscripts-el,
	    dnsutils,
            dpkg-dev-el,
            emacs-goodies-el,
            equivs,
            fonts-droid | ttf-droid,
            fonts-mplus | ttf-mplus,
            gitk,
            hsetroot,
            i3status (>= 2.2),
            inotail,
            keynav (>= 0.20101014.3067),
            openssh-client | dropbear,
            rxvt-unicode,
            unclutter,
            x11-xkb-utils,
            xdotool,
            xrootconsole | root-tail,
            xscreensaver,
            xserver-xorg-input-synaptics,
            xterm,
            xtrlock,
            zsh
Suggests: audacious,
          audacious-plugins,
          ccze | loco | lwatch | colortail,
          nvi,
          openssh-server | dropbear,
          screen | tmux,
          transset-df | xcompmgr
Architecture: all
Description: Common packages for all of Axel's desktop setups
 This metapackage depends on packages common for all of Axel's desktop
 setups.

Package: abe-desktop-ratpoison
Depends: abe-desktop-common,
         nawm | xdotool,
         ratmenu (>= 2.3.20),
         ratpoison,
         ${misc:Depends}
Recommends: redshift,
            suckless-tools | dwm-tools (>= 31-1),
            wicd-curses | network-manager (>= 0.8.0.999-1) | cnetworkmanager,
            xclip
Suggests: transset-df | xcompmgr
Architecture: all
Description: Packages necessary for Axel's ratpoison desktop
 This metapackage depends on packages common for Axel's ratpoison
 based desktop setup.

Package: abe-desktop-awesome
Depends: abe-desktop-common,
         awesome (>= 3),
         awesome-extra,
         hsetroot,
         xdotool,
         ${misc:Depends}
Recommends: fdpowermon,
            gtk-redshift,
            smart-notifier,
            wicd-gtk | network-manager-gnome
Suggests: qasmixer | volumeicon-alsa,
          radiotray,
          shutter,
          update-notifier,
          yarssr
Architecture: all
Description: Packages necessary for Axel's awesome desktop
 This metapackage depends on packages common for Axel's awesome based desktop setup.

Package: abe-desktop
Depends: abe-desktop-awesome,
         abe-desktop-ratpoison,
         ${misc:Depends}
Recommends: flwm,
            i3-wm,
            lxsession,
            scrotwm,
            stumpwm
Suggests: clfswm,
          fvwm,
          herbstluftwm,
          notion,
          tritium
Architecture: all
Description: Packages helpful for Axel's desktop setup
 This metapackage depends on packages common for Axel's desktop
 setups.
